/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body, button, input {
    font-family: 'Roboto', sans-serif;
    font-size: .938rem;
}

body {
    margin: 0;
    background-color: hsl(0, 0%, 99%);
    color: hsl(0, 0%, 35%);
    transition: .3s ease all;
}

h1, h2, h3, h4 {
    color: hsl(0, 0%, 15%);
    font-weight: 500;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

/* Header */
header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_links {
    padding: 12px 0;
}

.nav_links li {
    display: inline-block;
    margin: 0 15px;
}

.nav_links li a {
    text-decoration: none;
    color: #000;
    padding: 5px 0;
    margin-left: 20px;
    font-size: 18px;
    position: relative;
}

/* Efecto underline links de navbar */
.nav_links li a::after {
    content: '';
    background: #9604cf;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.1s;
}

.nav_links li a:hover::after {
    width: 100%;
}

/* Carrito */
.submenu {
    position: relative;
}

.nav_links #carrito-logo {
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    margin-left: 20px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    color: #000;
}

.nav_links #carrito-logo::after {
    content: '';
    background: #9604cf;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.1s;
}

.nav_links #carrito-logo:hover::after {
    width: 100%;
}

#carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

.vaciar__carrito {
    display: inline-block;
    height: 48px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

/* Dark mode */
.switch {
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute; /* Para tener al boton al inicio, hacia la izquierda */
    background: #F1F1F1;
    top: 0; /* Posicionamiento en 0 */
    left: 0; /* Posicionamiento en 0 */
    right: unset; /* Para cuando de click cambie a la derecha */
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.active {
    background: orange;
    color: #000;
    transition: .2s;
}

.active::after {
    right: 0;
    left: unset;
}

body.dark .nav_links li a {
    color: #fff;
}

body.dark {
    background: #080808;
}

body.dark .nav_links #carrito-logo{
    color: #fff;
}

body.dark .section__title {
    color: #fff;
}

body.dark .destacado__title {
    color: #fff;
}

body.dark .destacado__description {
    color: #fff;
}

body.dark .nav_links li div i {
    color: #fff;
}

body.dark .tracks__card {
    background: hsl(31, 100%, 70%);
}

body.dark .tracks__card:hover {
    box-shadow: 0 12px 32px rgba(224, 224, 224, 0.175);
}

body.dark .tracks__price {
    color: #fff;
}

body.dark .vaciar__carrito {
    background-color: #080808;
}

body.dark .socials a {
    text-decoration: none;
    color: #fff;
}

body.dark .socials a:hover {
    color: aqua;
}

/* Clases reutilizables */
.container {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.grid {
    display: grid;
}

.section {
    padding: 6.5rem 0 1rem;
}

.section__title {
    position: relative;
    font-size: 1rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.section__title::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 67px;
    height: 1px;
    background-color: hsl(31, 100%, 70%);
}

.full-width {
    width: 85%;
    box-sizing: border-box;
}

.dos-columnas {
    width: 13.3333333333%;
}

.cuatro-columnas {
    width: 30.6666666667%;
}

.float-derecha {
    float: right;
}

/* Botones */
.button {
    display: inline-block;
    background-color: hsl(0, 0%, 17%);
    color: #fff;
    padding: 1.25rem 2rem;
    font-weight: 500;
    transition: .3s;
}

.button:hover {
    background-color: hsl(0, 0%, 21%);
}

.button--gray {
    background-color: hsl(0, 0%, 75%);
    color: hsl(0, 0%, 15%);
}

.button--gray:hover {
    background-color: hsl(0, 0%, 63%);
}

.button--small {
    padding: 1rem 1.5rem;
}

/* .tracks__container .tracks__card .bxs-shopping-bag {
    width: 50px;
} */

/* Tracks */
.tracks__container {
    row-gap: 2.5rem;
    display: flex;
    justify-content: space-evenly;
}

.tracks__card {
    position: relative;
    text-align: center;
    background-color: #fff;
    padding-top: 2rem;
    border: 1px solid hsl(0, 0%, 94%);
    overflow-y: hidden;
    transition: .3s;
}

.tracks__tag {
    background-color: hsl(31, 100%, 70%);
    padding: .5rem 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: .813rem;
    font-weight: 500;
    position: absolute;
    transform: rotate(-90deg);
    left: -1rem;
    top: 3rem;
}

.tracks__img {
    height: 240px;
    margin-bottom: 1rem;
}

.tracks__title, .tracks__price {
    font-size: 1rem;
    font-weight: 700;
}

.tracks__title {
    text-transform: uppercase;
    margin-bottom: .75rem;
}

.tracks__price {
    display: block;
    color: hsl(31, 100%, 70%);
    transition: .3s;
}

.tracks__button {
    font-size: .813rem;
    transform: translateY(1rem);
    opacity: 0;
    border-radius: 50px;
}

.tracks__card:hover {
    box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
    padding: 2rem 0 3rem 0;
}

.tracks__card:hover .tracks__button {
    transform: translateY(0);
    opacity: 1;
}

.tracks__card:hover .tracks__price {
    margin-bottom: 1.5rem;
}

/* Destacado */
.destacado__container {
    row-gap: 7.5rem;
}

.destacado__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.destacado__description {
    margin-bottom: 2.5rem;
}

.destacado__images {
    position: relative;
}

.destacado__img, .destacado__square {
    height: 450px;
    background-color: hsl(31, 100%, 70%);
}

.destacado__img {
    position: absolute;
    left: 3rem;
    top: -3rem;
}

/* Footer */
footer {
    /* background: #111; */
    height: auto;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #000;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .2s ease;
}

.socials a:hover {
    color: aqua;
}

.copyright {
    background: #111;
    padding: 20px 0;
    text-align: center;
}

.copyright span {
    font-size: 14px;
    word-spacing: 2px;
}